* {
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}

.body {
    background-size: 100%;
    background-color: aquamarine;
}

.main-page {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.game-field {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 5px;
    padding: 24px;
    background-color: azure;
}

.intro-info {
    margin: 16px auto;
}

.header {
    text-align: center;
    }

.start-button {
    margin: 18px auto;
    width: 20%;
    height: 36px;
    font-weight: bold;
    font-size: large;
    }

.players-fields {
    display: flex;
    flex-direction: row;
    padding: 12px;
}

.player-field,
.computer-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.rps-buttons {
    padding: 8px;
    flex: 1;
    font-size: large;
}

.selection-images {
    width: 48px;
    height: auto;
}

.rock-selection,
.paper-selection,
.scissors-selection {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 8px auto;
  }
  
  .scoreboard {
    text-align: center;
  }

  .scores {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 16px;
  }